CREATE DATABASE [CCBISDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CCBISDW', FILENAME = N'/var/opt/mssql/data/CCBISDW.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CCBISDW_log', FILENAME = N'/var/opt/mssql/data/CCBISDW_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [CCBISDW]
GO
USE [CCBISDW]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [CCBISDW] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
